name: Publish Package
permissions:
  contents: read

on:
  release:
    types: [created]
  # Optionally enable manual workflow runs
  workflow_dispatch:

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: npm ci

      # - name: Run tests
      #   run: npm test
        
      - name: Build package
        run: npm run build
        
      - name: Publish to npm
        run: |
          if [[ "${{ github.event.release.prerelease }}" == "true" ]]; then
            npm publish --tag beta
          else
            npm publish
          fi
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PAT }}
